input,
textarea{
    @include font-size(0.875);
}

fieldset {
    border: none;
    border-bottom: 1px dashed #ccc;
	padding: 0 0 20px 0;
	margin:0;

	&:last-of-type{border-bottom:none;}

    legend {
		@extend %default-header;
        @extend %sub-header;	
		@include font-size(1.5);
    }
}

label {
	display: block;
    font-size: .875rem;
}

 #{$all-text-inputs}, textarea, select {
        border: 1px solid #c8c8c8;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0);
        transition: box-shadow 0.5s ease;
        border-radius: 4px;
        height: 30px;    
		width: 100%;
		padding-left: 10px;
        font-family: sans-serif;


		&:focus{
		box-shadow: inset 0 0 0 1px #00A9E0;
		outline:0 none !important;
		-moz-outline: none;
		-moz-user-focus: none;
		-moz-outline-style: none;
		outline-style: none;
		}
    }

textarea, select[size="4"] {
        height: 100px;
    }

button[type="submit"] {
    float: right;
}

.helper-text {
	font-size: .75rem;
    display: block;
    clear: both;
	font-style: italic;
}

.password-rules {
	background-color: $color-background-grey;
	padding: 5px 10px;

	p{margin-top: 0;}

	ul {
		list-style: none;
		li {
			list-style: none;
		}
	}
	.form-valid:before, .form-invalid:before {
		font-family: 'SS Workopolis';
		padding: 5px;
		margin-left: -18px;
		font-size: 8px;
	}

	.form-invalid:before {
		content: '\2715';
		color: red;
	}
	.form-valid:before {
		content: '\2713';
		color: #427730;
	}
}

.input-error-message {
    font-size: .8rem;
	display: block;
	color: $color-tertiary-burntorange;
	&:before {
		font-family: 'SS Workopolis';
		content: '\26A0';
		margin-right: 4px;
	}
}
.input-error-highlight {
	border: 1px solid #D2492A !important;
	background-color: #FFFAF2;
}

.add-additional-dropdown {
    font-size: .9rem;
}

span#validation1-error {
    line-height: 1.2em;
    width: 100px;
}

#{$all-text-inputs}, textarea, select {
	@include font-gotham-book;
}

.form-label{
    @include font-gotham-book;
}

.field-validation-error{
	font-size: 12px;
}

.field-validation-error:before{
	font-family: 'SS Workopolis';
	content: '\26A0';
	margin-right: 4px;
}

/****************** SEARCH FORM *******************/
.search-form {
    position: relative;
    .search-input {
		padding-left: 35px;
	}
}

.input-icon {        
    @include font-size($fontSize-heading--secondary);
    color: $color-primary-green;
    left: 0;
    margin: 10px 0 0 5px;
    position: absolute;
    &.location-icon {
        top: 70px;
    }

}

@include media ($mq-small){
	.input-icon {            
	    &.location-icon {
	        top: auto;
	        left: 50%;
	    }
	}
}

//New Form Base Styles - WIP


.form-label--darkbg{
    color: $color-text-darkbg;
    margin-bottom: 20px;
}

.form .form-text-input--darkbg{
    color: $color-text-darkbg;
    border: none;
    background: rgba(106,106,106,0.6);
}